.header {
  min-height: 3rem;
  // margin-bottom: 10px;
  // @include notebook {
  //   margin-bottom: 7px;
  // }
  
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo {
  font-weight: 700;
  font-size: 23px;
  @include phones {
    font-size: 16px;
  }
}

.contacts {
  text-align: end;
}
.contacts__phone {
  font-weight: 700;
  font-size: 18px;
  @include phones {
    font-size: 15px;
  }
}
.contacts__desc {
  color: #A6A6A6;
  font-size: 13px;
  @include phones {
    font-size: 12px;
  }
}