.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 104px;

  @include notebook {
    margin-bottom: 82px;
  }
  @include tablets {
    margin-bottom: 75px;
  }
  @include phones {
    margin-bottom: 26px;
  }
  &__item {
    margin-bottom: 21px;
    background-color: $blue;
    max-width: 54%;
    display: inline-block;
    color: $white;
    font-size: 26px;
    font-weight: 600;
    padding: 32px;
    border-radius: 2px 35px 35px 35px;
    line-height: 36px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));

    @include notebook {
      margin-bottom: 31px;
      font-size: 22px;
      border-radius: 2px 25px 25px 25px;
      padding: 23px;
      max-width: 59%;
      line-height: 32px;
    }
    @include tablets {
      padding: 27px;
      max-width: 82%;
      font-size: 22px;
      border-radius: 2px 25px 25px 25px;
      line-height: 31px;
    }
    @include phones {
      font-size: 14px;
      line-height: 19px;
      border-radius: 2px 15px 15px 15px;
      padding: 15px;
      max-width: 94%;
      margin-bottom: 13px;
    }
  }
}

.messages > .messages__item-green {
  font-size: 26px;
  padding: 30px 36px;
  color: white;
  border-radius: 35px 2px 35px 35px;
  background-color: $lime;
  margin-bottom: 0;
  margin-left: auto;
  margin-top: 58px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
  @include notebook {
    font-size: 22px;
    margin-top: 49px;
    border-radius: 25px 2px 25px 25px;
    padding: 26px 27px;
    max-width: 53%;
  }
  @include tablets {
    font-size: 22px;
    margin-top: 41px;
    border-radius: 25px 2px 25px 25px;
    max-width: 72%;
    padding: 26px 32px;
  }
  @include phones {
    font-size: 14px;
    margin-top: 19px;
    border-radius: 15px 2px 15px 15px;
    padding: 19px 16px;
    max-width: 71%;
  }
}


.messages__center {
  margin-bottom: 55px;
  @include notebook {
    margin-bottom: 28px;
  }
  @include tablets {
    margin-bottom: 40px;
  }
  @include phones {
    margin-bottom: 17px
  }
}

.messages__center > .messages__item {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
  @include notebook {
    max-width: 58%;
  }
  @include tablets {
    max-width: 80%;
  }
  @include phones {
    max-width: 94%;
  }
}
.messages__center > .messages__item-green {
  color: white;
  max-width: 48%;
  margin-bottom: 77px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
  @include notebook {
    max-width: 50%;
    margin-bottom: 80px;
    padding: 26px 25px;
    max-width: 51%;
  }
  @include tablets {
    margin-top: 0;
    margin-bottom: 81px;
    max-width: 70%;
  }
  @include phones{
    font-size: 14px;
    max-width: 80%;
    margin-bottom: 35px;
    padding: 16px 9px;
  }
}

.messages__bottom {
  margin-bottom: 0;
}

.messages__bottom > .messages__item {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
  @include notebook {
    max-width: 57%;
  }
  @include tablets {
    max-width: 78%;
  }
  @include phones {
    max-width: 94%;
    padding: 14px;
  }
}

.messages__bottom > .messages__item-green {
  margin-bottom: 72px;
  color: white;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
  @include notebook {
    margin-bottom: 70px;
  }
  @include tablets {
    margin-bottom: 74px;
  }
  @include phones {
    max-width: 94%;
    padding: 13px 19px;
    margin-bottom: 35px;
  }
}
