.partners {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 40px;
  @include notebook {
    margin-bottom: 27px;
  }
  @include tablets {
    margin-bottom: 27px;
    flex-wrap: wrap;
  }
  @include phones {
    margin-bottom: 38px;
  }
  &__item {
    @include notebook {
      width: 24%;
    }
    @include tablets {
        width: 49%;
    }

    margin-right: 2px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__img {
    width: 100%;
    height: 288px;
    @include notebook {
      height: 227px;
      width: 100%;
    }
    @include tablets {
      height: 232px;
      width: 100%;
    }
    @include phones {
      width: 100%;
      height: auto;
    }
  }
}