.table {
  width: 100%;
  margin-bottom: 104px;
  @include notebook {
    margin-bottom: 82px;
  }
  @include tablets {
    margin-bottom: 74px;
  }
  @include phones {
    margin-bottom: 26px;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  padding: 84px 0;
  border-top: 2px solid #DDDDDD;
  align-items: center;
  @include notebook {
    padding: 78px 0;
  }
  @include tablets {
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 0;
  }
  @include phones {
    padding: 25px 0;
  }
  &:last-child {
    border-bottom: 2px solid #DDDDDD;
  }
  &_mobile {
    padding: 80px 0;
    @include notebook {
      padding: 82px 0;
    }
    @include tablets {
      padding: 48px 0;
    }
    @include phones {
      padding: 25px 0;
    }
  }

  &_frontend {
    padding: 90px 0;
    @include notebook {
      padding: 85px 0;
    }
    @include tablets {
      padding: 42px 0;
    }
    @include phones {
      padding: 21px 0;
    }
  }
  &_backend {
    padding: 84px 0 87px 0;
    @include notebook {
      padding: 86px 0 80px 0;
    }
    @include tablets {
      padding: 49px 0 80px 0;
    }
    @include phones {
      padding: 26px 0 27px 0;
    }

    }
  &_blockchain {
    @include notebook {
      padding: 85px 0;
    }
    @include tablets {
      padding: 48px 0;
    }
    @include phones {
      padding: 21px 0;
    }
  }
  &_ux {
    @include notebook {
      padding: 83px 0;
    }
    @include tablets {
      padding: 45px 0;
    }
    @include phones {
      padding: 25px 0;
    }
  }
  &_management {
    padding: 79px 0px;
    @include notebook {
      padding: 83px 0;
    }
    @include tablets {
      padding: 47px 0;
    }
    @include phones {
      padding: 21px 0;
    }
  }
}

.service {
  @include phones {
    width: 90%;
  }
  &__name {
    text-align: left;
    display: flex;
    align-items: center;
    width: 25%;
    @include notebook {
      width: 26%;

    }
    @include tablets {
      margin-bottom: 17px;
      width: 100%;
    }
    @include phones {
      margin-bottom: 10px;
    }

    span {
      font-size: 30px;
      font-weight: bold;
      color: #A6A6A6;
      @include notebook {
        font-size: 27px;
      }
      @include tablets {
        font-size: 27px;
      }
      @include phones {
        font-size: 18px;
      }
    }

    p {
      font-size: 30px;
      font-weight: bold;
      @include notebook {
        font-size: 27px;
      }
      @include tablets {
        font-size: 27px;
      }
      @include phones {
        font-size: 18px;
      }
    }
  }
  &__stack {
    display: flex;
    align-items: center;
    width: 55%;
    font-size: 22px;
    @include notebook {
      width: 59%;
      font-size: 18px;
    }
    @include tablets {
      font-size: 18px;
      padding-left: 30px;
      margin-bottom: 25px;
      align-items: flex-start;
      width: 100%;
    }
    @include phones {
      margin-bottom: 8px;
      flex-wrap: wrap;
      padding-left: 20px;
    }
    &_frontend {
      @include tablets {
        margin-bottom: 33px;
      }
      @include phones {
        margin-bottom: 20px;
      }
    }
    &_backend {
      display: flex;
      align-items: flex-start;
      @include phones {
        margin-bottom: 16px;
      }
    }
    &_blockchain {
      @include phones {
        margin-bottom: 16px;
      }
    }
    &_management {
      @include phones {
        margin-bottom: 16px;
      }
    }
    &_ux {
      @include tablets {
        margin-bottom: 25px;
      }
      @include phones {
        margin-bottom: 10px;
      }
    }
  }
  &__skill {
    display: flex;
    align-items: center;
    @include notebook {
      flex-direction: column;

    }
    @include tablets {
      flex-direction: row;
      padding-left: 25px;
    }
    @include phones {
      flex-direction: row;
      padding-left: 20px;
    }
    & > span {
      font-size: 13px;

      background-color: #A6A6A6;
      padding: 10px;
      color: $white;
      margin-right: 10px;
      font-weight: bold;
      border-radius: 5px;
      @include notebook {
        margin-right: 0;
        margin-bottom: 7px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include tablets {
        margin-bottom: 0px;
        margin-right: 10px;
      }
      @include phones {
        margin-bottom: 0px;
        font-size: 11px;
        margin-right: 10px;
        padding: 8px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.services_management > .service__name {
  display: flex;
  align-items: flex-start;
}

.stack__item {
  margin-right: 3vw;
  &:last-child {
    margin-right: 0;
  }
  &:first-child {
    @include phones {
      margin-bottom: 8px
    }
  }
  @include notebook {
    margin-right: 4vw;
  }
  @include phones {
    font-size: 14px;
  }
}
.stack__item-list {
  margin-top: 6px;
  @include notebook {
    margin-top: 0px;
  }
  @include tablets {
    margin-top: 2px;
  }
}
.stack__item > div {
  color: #A6A6A6;
  font-size: 14px;
}

#python {
  @include tablets {
    margin-bottom: 3px;
  }
  @include phones {
    margin-bottom: 32px;
  }
}
